Find the largest of three numbers using nested if-else.

In [2]:
a = 10
b = 80
c = 12
if a >=b:
    if a >= c:
        print(a)
    else:
        print(c)
else:
    if b >= c:
        print(b)
    else:
        print(c)

80

Print all numbers from 1 to N that are divisible by both 3 and 5.

In [8]:
n = int(input("Enter value of N"))
for i in range (1,n+1):
    if i%3 == 0 and i%5 == 0:
        print(i,end=" ")

Enter value of N 60

15 30 45 60

Print the multiplication table for a given number up to 10.

In [10]:
n = 2
for i in range(0,11):
    print(n*i, end= " ")

0 2 4 6 8 10 12 14 16 18 20

Check if a number is prime.

In [16]:
num = 7
isPrime = True
for i in range (2,num):
    if num%i == 0:
        isPrime = False
        break

if isPrime:
    print("Prime")
else:
    print("Not prime")

Prime

Print the Fibonacci sequence up to N terms.

In [17]:
n = 10
count = 0
n1, n2 = 0, 1
while count <= n:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count += 1

0
1
1
2
3
5
8
13
21
34
55

Find the factorial of a number using a loop.

In [20]:
n = 5
i = n
res = 1
while i > 0:
    res = res * i
    i -= 1
print(res)

120

Print a right-angled triangle pattern using asterisks.

In [33]:
n = 10
for i in range(1, n + 1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

Find the sum of all digits of a number.

In [41]:
n = 101
res =  0
while n != 0:
    rem = n % 10
    res = res + rem
    n = int(n/10)
print(res)

2

Find the GCD (Greatest Common Divisor) of two numbers.

In [42]:
import math

num1 = 60
num2 = 48

result = math.gcd(num1, num2)
print(f"The GCD is: {result}")

The GCD is: 12

Convert a binary number (string) to decimal.

In [48]:
n = "100101101"
binres = 0
power = 0
rn = n[::-1]
for i in rn:
    intrn = int(i)
    binmid = intrn * pow(2,power)
    binres = binres + binmid
print(binres)

5