<h1>Lists & Basic List Operations</h1>

Find the largest element in a list without using `max()`

In [25]:
myList = [23,6,54,334,5]
myList.sort(reverse =True)
myList[0]

334

Reverse a list without using `[::-1]` or `reverse()`

In [19]:
myList = [1,2,3,4]
for i in range(0,len(myList)//2):
    c = myList[i]
    myList[i] = myList[len(myList)-1-i]
    myList[len(myList)-1-i] = c
myList

[4, 3, 2, 1]

Remove all duplicates from a list.

In [22]:
myList = [1,1,2,3,4,4,5,6,6]
mySet = set(myList)
myList = list(mySet)
print(myList)

[1, 2, 3, 4, 5, 6]

Flatten a nested list (one level deep).

In [24]:
nestedList = [[1, 2, 3], [4, 5], [6, 7, 8]]

flatllist = [item for sublist in nestedList for item in sublist]
print(flatlist)

[1, 2, 3, 4, 5, 6, 7, 8]

Find the common elements between two lists.

In [27]:
l1 = [1,2,3,4,5]
l2 = [3,4,5,6,7]
def comFind(l1,l2):
    res = list(set(l1) & set(l2))
    return res
print(comFind(l1,l2))

[3, 4, 5]

Split a list into chunks of size N.

In [30]:
myList = [1,2,3,4,5,6,7,8,9]
n = 3 
res = [myList[i:i + n] for i in range(0, len(myList), n)]
print(res)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Rotate a list to the right by k positions

In [36]:
def rotateclockwise(arr, k):
    if k == 0:
        return
    n = len(arr)
    temp = arr[n - 1]
    for i in range(n - 1, 0, -1):
        arr[i] = arr[i - 1]
    arr[0] = temp
    rotateclockwise(arr, k - 1)
    
if __name__ == "__main__":
    arr = [1, 2, 3, 4, 5, 6]
    k = 11
    rotateclockwise(arr, k)
    for it in arr:
        print(it, end=" ")

2 3 4 5 6 1

Find the second smallest number in a list.

In [40]:
myList = [23243,2342,234324,234,3434,234234,253675,588,67876,8567]
myList.sort(reverse = True)
myList[1]

234324

Remove all even numbers from a list.

In [44]:
myList = [1,2,3,4,5,6,7,8,9,10]
for i in myList:
    if i%2==0:
        myList.remove(i)
myList

[1, 3, 5, 7, 9]

Merge two sorted lists into one sorted list.

In [45]:
sl1 = [1,2,3,4,5,6]
sl2 = [10,11,12,24]
sl3 = sl1+sl2
sl3

[1, 2, 3, 4, 5, 6, 10, 11, 12, 24]